<p-card header="Archivos">
    <section>
        
        <div class="container">
            <h3 style="display: flex; justify-content: center;">EndPoints</h3>
            <ul>
                <li><b>GET: https://productocategoria.azurewebsites.net/api/id</b>
                    <br>
                    <ul>
                       <li>Datos Salida
                        <ol>
                            <li>ID</li>
                            <li>Nombre</li>
                            <li>Tipo</li>
                            <li>Datos (Arreglo de bytes)</li>
                        </ol>
                       </li>
                    </ul>
                </li>
                <li><b>POST: https://productocategoria.azurewebsites.net/api</b> 
                    <ul> 
                        <li>Body:
                            <ol>
                                <li>Arcivo Binario</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li><b>PUT: </b>
                    <ul>
                        <li>Datos Salida
                            <ol>
                                <li>ID</li>
                                <li>Nombre</li>
                                <li>Tipo</li>
                                <li>Datos (Arreglo de bytes)</li>
                            </ol>
                        </li>
                        <li>Body
                            <ol>
                                <li>Archivo a enviar</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li><b>Detele: </b> 
                    <ul>
                        <li>Datos salida
                            <ol>
                                <li>Null</li>
                            </ol>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </section>
</p-card>