<p-card header="Home">
    <article>
        <h3 style="display: flex; justify-content: center;">Web Client and Backend Development Frameworks 2024_2</h3>
        <h4>Practica Alumnos - Archivos</h4>
        <p>En esta practica englobamos con las siguientes operaciones:</p>
        
        <div class="operaciones">
            <ul>
                <li>Alumno
                    <ol>
                        <li>Registrar</li>
                        <li>Editar</li>
                        <li>Consultar</li>
                        <li>Eliminar</li>
                        <li>Consultar un registro</li>
                    </ol>
                </li>
                <li>Envio de Correos</li>
                <li>Subir Archivos
                    <ol>
                        <li>Subir</li>
                        <li>Descargar</li>
                        <li>Eliminar</li>
                    </ol>
                </li>
            </ul>
        </div>
        
    </article>
</p-card>
